.titulo{
  text-align: center;
  background: #e51c23;
  padding:50px;
  padding-bottom: 65px;
  color:white;
  margin-bottom: 120px;
}
h2{
  color:white !important;
  }
body{
  margin: 0;
}
ul{
  width: 180px;
    margin-right: auto;
    margin-left: auto;
}
.advertencia{
  width:500px;
  position: fixed;
  right: 10px;
  top:50px;

}
.btn-circle {
  width: 140px;
  height: 140px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 75px;
  border: 0;
}
.btn-circle.btn-lg {
  z-index: 100;
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 75px;
}
.col-lg-4{
  text-align: center;
}
